*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hwb(0 80% 11%);
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}

header{
    position:fixed;
    width: 100%;
    background-color: rgb(235, 238, 238);
    z-index: 1;
    font-family: 'Source Code Pro';
    user-select: none;
}

header h1 a{
    text-decoration: none;
}
header h1 a:visited{
    text-decoration: none;
    color: black;
}

#header-width{
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 2px -2px gray;
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin: auto;
}

h2{
    margin: 1rem;
    font-family: Roboto;
    font-style: oblique;
    color: rgba(126, 121, 121, 0.81);
}

p, li{
    font-family: Montserrat;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

#navigation-menu {
    list-style-type: none;

}

.navigation-lien a{
    text-decoration: none;
    margin: 5px;
}


.navigation-lien a:active{
   color: red;
}
.navigation-lien a:visited{
    color: black;
}
.navigation-lien a:hover{
    color: red;
}

main{
    position: relative;
    top: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
}


#text-propos{
    display: flex;
    flex-direction: column;
}

#text-propos article{ 
    margin-left: 2.5rem;
}

section ul li{
    margin-left: 2.5rem;
    list-style-type: none;
}

#propos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

main aside img{
    max-width: 10rem;
    margin-top: 1.5rem;
}
main aside{
    position: absolute;
    right: 6rem;
}

#miniature-realisation{
    position: absolute;
    right: 18rem;
    /* border: 1px solid black; */
    display: none;
}

/* #realisations{
  
} */

#listeCompany{
    display: inline-block;
    border: 1px solid black;
    padding-right: 15rem;
}
#generateurMessage{
    display: inline-block;
    border: 1px solid black;
}
#WebStyle{
    display: inline-block;
    border: 1px solid black;
}
#realisations-liste ul{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor:pointer;
}

#miniatureDreamCompany{
    max-width: 19rem;
    cursor: pointer;
    box-shadow: 1px 2px 3px 0px gray;
}



/* #bas-de-page{
    margin: auto;
    width: 100%;
    max-width: 75rem;
    border: 1px solid black;
}

#bas-de-page{
    left: 2rem;
    bottom: 1rem;
    cursor: pointer;
} */
