*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hwb(180 92% 7%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header{
    position:fixed;
    width: 100%;
    background-color: rgb(235, 238, 238);
    z-index: 1;
    font-family: 'Source Code Pro';
    user-select: none;
}

header h1 a{
    text-decoration: none;
}
header h1 a:visited{
    text-decoration: none;
    color: black;
}

#header-width{
    border-bottom: 1px solid black;
    box-shadow: 0px 4px 2px -2px gray;
    max-width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    margin: auto;
}

h2{
    margin: 1rem;
    font-family: Roboto;
    font-style: oblique;
    color: rgba(126, 121, 121, 0.81);
}

p, li{
    font-family: Montserrat;
}

header nav ul{
    display: flex;
    flex-direction: row;
}

#navigation-menu {
    list-style-type: none;

}

.navigation-lien a{
    text-decoration: none;
    margin: 5px;
    color: black;
}

a:active{
   color: purple;
}
a:visited{
    color: black;
}
a:hover{
    color: red;
}

main{
    position: relative;
    top: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
}


#text-propos{
    display: flex;
    flex-direction: column;
}

#text-propos article{ 
    margin-left: 2.5rem;
}

section ul li{
    margin-left: 2.5rem;
    list-style-type: none;
}

#propos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

main aside img{
    max-width: 10rem;
    margin-top: 1.5rem;
}
main aside{
    position: absolute;
    right: 6rem;
}

#miniature-realisation-company, #miniature-realisation-generateur, #miniature-realisation-webstyle {
    position: absolute;
    right: 18rem;
    /* border: 1px solid black; */
    display: none;
}

#listeCompany{
    display: inline-block;
    /* border: 1px solid black; */
    padding-right: 17rem;
}
#generateurMessage{
    display: inline-block;
    /* border: 1px solid black; */
    padding-right: 9rem;
}
#webStyle{
    display: inline-block;
    /* border: 1px solid black; */
    padding-right: 9rem;
}
#realisations-liste ul{
    display: inline-block;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor:pointer;
}

#miniatureDreamCompany, #miniatureGenerateur, #miniatureWebStyle {
    max-width: 19rem;
    cursor: pointer;
    box-shadow:  0px 0px 10px 2px gray;
    border-radius: 0.5rem;
}

.realisations-lien a{
    text-decoration: none;
}

.realisations-lien a:visited{
    color: black;
}

hr{
    margin-top: 5rem;
    max-width: 75rem;
    min-width: 75rem;
    margin: 6rem auto 0;
    height: 1px;
    background-color: rgba(218, 218, 218, 0.508);
    border: none;
}

#contact{
    font-family: Montserrat;
    padding: 1rem;
}
#contact p{
    font-family: Montserrat;
    padding: 0.2rem;
    line-height: 1.5rem;
}

#bold{
    font-weight: 700;
}

#bas-de-page{
    display: flex;
    justify-self: center;
    padding-left: 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 75rem;
    cursor: pointer;
    font-size:0.8rem;
    font-family: 'Source Code Pro';
}
@media screen and (min-width:1150px){
    #miniature-realisation-company, #miniature-realisation-generateur, #miniature-realisation-webstyle {
        right: 22rem;
    }
}

@media screen and (max-width:1075px){
    #miniature-realisation-company, #miniature-realisation-generateur, #miniature-realisation-webstyle {
        right: 13.5rem;
    }
    main aside{
        right: 1.5rem;
    }
}

@media screen and (max-width:1010px){
    #miniature-realisation-company, #miniature-realisation-generateur, #miniature-realisation-webstyle {
        right: 5rem;
    }
    main aside{
        right: 4.5rem;
    }
    main aside img{
        max-width: 6rem;
        margin-top: 1.5rem;
    }
}
@media screen and (max-width:875px){
    #miniature-realisation-company, #miniature-realisation-generateur, #miniature-realisation-webstyle {
        right: 2rem;
    }
    main aside{
        right: 4.5rem;
    }
    main aside img{
        max-width: 6rem;
        margin-top: 1.5rem;
    }
}